@media only screen 
   and (min-width : 1200px) {
    body {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
    }
    .moment {
        width: 100vw;
    }
    .moment:nth-of-type(odd) > .feeling {
        transform: rotate(90deg);
        float: left;
        padding-bottom: 70px;
    }
    .moment:nth-of-type(even) > .feeling {
        transform: rotate(-90deg);
        float: right;
        padding-bottom: 120px;
    }
}
body {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.moment {
    width: 100vw;
}
.moment:nth-of-type(odd) > .feeling {
    transform: rotate(90deg);
    float: left;
    padding-bottom: 70px;
}
.moment:nth-of-type(even) > .feeling {
    transform: rotate(-90deg);
    float: right;
    padding-bottom: 70px;
}