<head>
  <link href="css/base.css" rel="stylesheet"/>
  <title>selfsimilar</title>
</head>
<body>
  <div class="moment">
    <div class="feeling">
        <span style="bottom: 33vw;position: relative;">selfsimilar</span>
    </div>
  </div>
  <div class="moment">
      <div class="feeling">
          <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=4140550058/size=large/bgcol=333333/linkcol=4ec5ec/tracklist=false/transparent=true/" seamless><a href="http://selfsimilar.bandcamp.com/album/how-could-there-be-truth-if-you-forget-it">How could there be truth, if you forget it? by Selfsimilar</a></iframe>
      </div>
  </div>
  <div class="moment">
    <div class="feeling">
      <iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=2805439655/size=large/bgcol=333333/linkcol=4ec5ec/tracklist=false/transparent=true/" seamless><a href="http://selfsimilar.bandcamp.com/track/brainheart">Brainheart by Selfsimilar</a></iframe>
    </div>
  </div>
  <div class="moment">
    <div class="feeling">
      <iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=531765377/size=large/bgcol=333333/linkcol=4ec5ec/tracklist=false/transparent=true/" seamless><a href="http://selfsimilar.bandcamp.com/track/i">I by Selfsimilar</a></iframe>
    </div>
  </div>
  <div class="moment">
    <div class="feeling">
      <iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=59775992/size=large/bgcol=333333/linkcol=4ec5ec/tracklist=false/transparent=true/" seamless><a href="http://selfsimilar.bandcamp.com/track/73">73 by Selfsimilar</a></iframe>
    </div>
  </div>
</body>
